/* Home page */
.container-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100px;
    background-color: var(--color-navy);
  }

  .subcontainers-home {
    background-color: var(--color-navy);
    text-align: center;
    padding: 30px 5px;
    position: relative;
  }

  .subcontainers-home-title {
    margin-top: 25vh;
  }
  
  .subcontainers-home-img {
    background: url('../assets/mainbg.jpg') center center / cover no-repeat;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subcontainers-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
  }
  
  .container-roadmap {
    display: flex;
    flex-direction: column;
    background-color:  var(--color-white);
    padding: 0px 100px;
    height: auto;
  }
  
  .step {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .step-left .step-content {
    text-align: left;
    flex-direction: row;
  }
  
  .step-right .step-content {
    text-align: right;
    flex-direction: row-reverse;
  }
  
  .step-content {
    display: flex;
    width: 100%;
  }
  
  .step-content img {
    width: 480px;
    height: 300px;
  }
  
  .step-words {
    padding: 0px 20px;
    margin-top: 50px;
  }
  
  .diagonal {
    content: '';
    position: relative;
    width: 100%;
    height: 15vh;
    background: linear-gradient(5deg,  var(--color-white) 50%, var(--color-navy) 50%);
  }
  
  .upside-diagonal {
    background: linear-gradient(5deg, var(--color-navy) 50%,  var(--color-white) 50%);
  }

  .transition-rect {
    position: relative;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, black, var(--color-navy));
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }

@media (max-width: 600px) {
.container-home {
    margin-top: 220px;
}

.step {
    flex-direction: column;
    align-items: flex-start;
}

.arrow-img {
    margin-left: 0;
    margin-top: 10px;
    align-self: flex-start;
}
}