.footer {
  background-color: var(--color-dark-navy);
  color:  var(--color-white);
  width: 100%;
  padding: 1vh 5vw;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -100px; /* Start hidden */
  transition: bottom 0.3s;
  z-index: 1000;
  font-size: 12px;
}

.footer-visible {
  bottom: 0; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  align-items: flex-start;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.footer-contact {
  text-align: right;
  padding: 0px;
  
}

.footer-contact h3,
.footer-contact h4 {
  margin: 0px;
  padding: 5px;
}

.footer-button {
  font-size: 12px;
  background-color: var(--color-dark-navy);
  padding: 3px;
}

.footer-button:hover {
  text-decoration: underline;
  background-color: var(--color-dark-navy);
}

@media (max-width: 600px) {
  .footer {
    padding: 10px;  
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-links,
  .footer-contact {
    text-align: center;
  }
  .footer-links {
    margin-bottom: 10px;
  }
}
