.container-vc {
    margin-top: 120px;
    grid-template-columns: 3fr 1fr !important;
  }
  
  .image-container-vc {
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-container.selected {
    box-shadow: 0 0 10px var(--color-navy);
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .image-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .horizontal-line {
    position: absolute;
    top: 50%;
    height: 2px;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;
  }
  
  .timeline {
    grid-column: 1 / 2;
  }
  
  .timeline-container-vc {
    margin: 0 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 5%;
  }
  
  .timeline-item-wrapper-vc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .timeline-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  
  .timeline-dash {
    width: 2px;
    height: 20px;
    background-color: black;
    margin-top: 10px;
  }
  
  .timestamp-bubble-vc {
    margin-top: 5px;
  }
  
  .upload {
    margin: 0 20%;
  }
  
  .upload-input {
    display: none;
  }
  
  .upload-box {
    padding: 80px;
    border: 2px dashed var(--color-light-grey);
    border-radius: 4px;
    text-align: center;
    text-justify: center;
    background-color: var(--color-white);
    cursor: pointer;
  }
  
  .upload-box:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .uploaded-file-preview {
    max-width: 100%;
    max-height: 150px;
    border-radius: 4px;
  }
  
  .uploaded-video-preview {
    max-width: 100%;
    max-height: 300px;
    border-radius: 4px;
  }

.slider-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .play-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    color: var(--color-grey);
  }

  .play-icon:hover {
    color: var(--color-darker-grey);
  }
  
  .download-button {
    background-color: rgb(0, 67, 0); 
  }
  
  .info-and-instructions {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
  
  .instructions-text {
    text-align: left;
    border-radius: 4px;
    margin: 10px;
    flex-grow: 0;
  }
  
  /* Loading cursor */
  .loading {
    cursor: wait !important;
    pointer-events: none;
  }
  
  /* Disable clicks when loading */
  .loading * {
    pointer-events: none;
  }
  
  @media (max-width: 768px) {
    .container-vc {
      grid-template-columns: 1fr;
    }
    .right-box {
      grid-column: 1 / 2;
    }
  }
